fastapi
uvicorn[gunicorn]
pydantic
google-genai
dotenv
openai
youtube-transcript-api==1.1.0
motor
python-multipart
PyMuPDF
beautifulsoup4
requests
readability-lxml
firebase-admin
deep-translator
python-docx
python-pptx
pytesseract